*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
.externalNativeBuild


.gradle/
.idea/
build/
app/build/
keyStore/

*.iml
.DS_Store
local.properties
deploy.log

geny.pid


*.hprof

app/src/main/gen/

gradle.properties

captures
